{% extends "firstApp/base.html" %}

{% block body_block %}
    <ul>
        {% comment %} <li><a target='_blank' href='/admin'>Admin</a></li>
        <li><a target='_blank' href='first_app/products'>Products</a></li>
        <li><a target='_blank' href='first_app/one'>firstApp/one</a></li>
        <li><a target='_blank' href='first_app/two'>firstApp/two</a></li>
        <li><a target='_blank' href='first_app/add_category'>firstApp/addCategory</a></li>
        <li><a target='_blank' href='first_app/add_product'>firstApp/add_product</a></li> {% endcomment %}
        <li><a target='_blank' href="{% url 'admin:index'%}">Admin</a></li>
        <li><a target='_blank' href="{% url 'firstApp:products'%}">Products</a></li>
        <li><a target='_blank' href="{% url 'firstApp:one'%}">One</a></li>
        <li><a target='_blank' href="{% url 'firstApp:two'%}">Two</a></li>
        <li><a target='_blank' href="{% url 'firstApp:addCategory'%}">add_category</a></li>
        <li><a target='_blank' href="{% url 'firstApp:addProduct'%}">add_product</a></li>
    </ul>
    <style>
        li{
            font-size: 30px;
        }
    </style>
{% endblock body_block %}