{% extends "firstApp/base.html" %}

{% block body_block %}
    <div class='jumbotron'>
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock body_block %}