<!doctype html>
{% load static %}
<html>
    <head>
        <title>First</title>
        <link rel='stylesheet' href='{%static 'css/bootstrap.css' %}'>
        <link rel='stylesheet' href='{%static 'css/style.css' %}'>
        <script src='{%static 'js/jquery-3.5.1.min.js' %}'></script>
        <script src='{%static 'js/bootstrap.js' %}'></script>
    </head>
    <body>
        <nav class='navbar navbar-dark bg-dark navbar-expand-lg'>
            <a class='navbar-brand' href='#'>First</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'home'%}">Home</a>
                    <a class="nav-item nav-link" target="_blank" href="{% url 'admin:index'%}">Admin</a>
                    <a class="nav-item nav-link" href="{% url 'firstApp:products'%}">Products</a>
                    <!-- <a class="nav-item nav-link" href="{% url 'firstApp:one'%}">One</a>
                    <a class="nav-item nav-link" href="{% url 'firstApp:two'%}">Two</a> -->
                    <a class="nav-item nav-link" href="{% url 'firstApp:addCategory'%}">add_category</a>
                    <a class="nav-item nav-link" href="{% url 'firstApp:addProduct'%}">add_product</a>
                </div>
            </div>
        </nav>
        <br><br>

        <div class="container">
            {% block body_block %}
            {% endblock body_block%}
            {% block somesome %}
            {% endblock somesome%}
        </div>

    </body>
</html>