<!DOCTYPE html>
<html>
    <head>
        <title>Home ;D</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Hello this is index.html</p>
        {{ insert_me }}
    </body>
</html>