{% extends "firstApp/base.html" %}

{% block body_block %}
{% load static %}
    {% comment %} <div class='container'>

        
            <table class='table table-striped'>
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Count</th>
                    <th scope="col">Price $</th>
                    <th scope="col">Off %</th>
                    <th scope="col">Explanation</th>
                    <th scope="col">Image</ht>
                </thead>
                <tbody>
                    {% if prs %}
                    {% for pr in prs %}
                        <tr>
                            <th scope="row">{{ pr.id }}</th>
                            <td>{{ pr.name }}</td>
                            <td>{{ pr.category }}</td>
                            <td>{{ pr.count }}</td>
                            <td>{{ pr.price }}</td>
                            <td>{{ pr.off }}</td>
                            <td>{{ pr.explanation }}</td>
                            <td><img src={{media}}{{ pr.image }}></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <p>Products does not exists</p>
                    {% endif %}
                </tbody>
            </table>
        </div> {% endcomment %}


        {% comment %} {% if prs %}
            <div class="container mt-5 mb-5">
                <div class="p-2 bg-white px-4">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-row align-items-center filters">
                            <h4>Filters</h4><span class="ml-2">({{ noProducts }} items)</span>
                        </div>
                        <div class="d-flex flex-row align-items-center filters">
                            <div class="d-flex flex-row align-items-center">
                                <h5 class="mt-1">Sort by</h5><span class="ml-2">our price</span><i class="fa fa-angle-down ml-1"></i>
                            </div>
                            <div class="d-flex flex-row align-items-center ml-3"><span>ratings</span><i class="fa fa-angle-down ml-1"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for pr in prs %}
                        <div class="col-md-4 col-lg-4 mt-2">
                            <div class="p-4 bg-white">
                                <div class="d-flex flex-column">
                                    <div><img class="img-fluid img-responsive" src="{{media}}{{ pr.image }}" width="" height="220"></div>
                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-row justify-content-between align-items-center">
                                            <h5>{{ pr.name }}</h5>
                                            <h6>${{ pr.price }}</h6>
                                        </div>
                                        <div><span>{{ pr.count }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   {% endfor %}
                </div>
            </div>
        {% endif %} {% endcomment %}
    
    <link rel='stylesheet' href='{%static 'css/products.css' %}'>

    {% if prs %}
        <div class="row">
            {% for pr in prs %}
                <div class="col-md-4">
                    <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap thumbnail" data-abc="true" data-toggle="modal" data-target="#image-gallery" data-image="{{media}}{{ pr.image }}"><img class="img-thumbnail" src="{{media}}{{ pr.image }}"></a>
                        <figcaption class="info-wrap">
                            <div class="row">
                                <div class="col-md-8"> <a href="#" class="title" data-abc="true">{{ pr.name }}</a> </div>
                                   <div class="col-md-4">
                                    <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                                </div>
                            </div>
                        </figcaption>
                        <div class="bottom-wrap"> <a href="#" class="btn btn-primary float-right" data-abc="true"> Buy now </a>
                            <div class="price-wrap"> <span class="price h5">${{ pr.price }}</span> <br> <small class="text-success">Free shipping</small> </div>
                        </div>
                    </figure>
                </div>
            {% endfor %}
        </div>
        {% comment %}  {% endcomment %}
        
        {% comment %}  {% endcomment %}
    {% endif %}
{% endblock body_block %}

{% block somesome %}
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
        {% endblock somesome%}