{% load static %}
<html>
    <head>
        <title>TWo</title>
        <meta charset="utf-8">
        <link rel='stylesheet' href='{%static 'css/style.css' %}'>
    </head>
    <body>
        <p>Hello this is two.html from firstApp</p>
        <img src='{%static 'images/linux.jpg' %}' alt='uh oh, did not show :('>
    </body>
</html>